<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"   
    xmlns="http://java.sun.com/xml/ns/javaee"   
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   >  
<!-- 梁堉 定义的映射 -->  
-<servlet>
<servlet-name>LoginServlet</servlet-name>
<servlet-class>servlet.LoginServlet</servlet-class>
</servlet>
-<servlet-mapping>
<servlet-name>LoginServlet</servlet-name>
<url-pattern>/studentLogin</url-pattern>
</servlet-mapping>

 <servlet>
 <servlet-name>SectionListServlet</servlet-name>
 <servlet-class>servlet.SectionListServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>SectionListServlet</servlet-name>
 <url-pattern>/listStudentSection</url-pattern>
 </servlet-mapping>
 
-<servlet>
<servlet-name>StudentCourseListServlet</servlet-name>
<servlet-class>servlet.StudentCourseListServlet</servlet-class>
</servlet>
-<servlet-mapping>
<servlet-name>StudentCourseListServlet</servlet-name>
<url-pattern>/listStudentCourse</url-pattern>
</servlet-mapping>

-<servlet>
<servlet-name>SectionListServlet</servlet-name>
<servlet-class>servlet.SectionListServlet</servlet-class>
</servlet>
-<servlet-mapping>
<servlet-name>SectionListServlet</servlet-name>
<url-pattern>/listSection</url-pattern>
</servlet-mapping>
 
<servlet>
<servlet-name>SomeSectionListServlet</servlet-name>
<servlet-class>servlet.SomeSectionListServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>SomeSectionListServlet</servlet-name>
<url-pattern>/listSomeSection</url-pattern>
</servlet-mapping>

-<servlet>
<servlet-name>StudentCourseAddServlet</servlet-name>
<servlet-class>servlet.StudentCourseAddServlet</servlet-class>
</servlet>
-<servlet-mapping>
<servlet-name>StudentCourseAddServlet</servlet-name>
<url-pattern>/addStudentCourse</url-pattern>
</servlet-mapping>

-<servlet>
<servlet-name>StudentCourseDeleteServlet</servlet-name>
<servlet-class>servlet.StudentCourseDeleteServlet</servlet-class>
</servlet>
-<servlet-mapping>
<servlet-name>StudentCourseDeleteServlet</servlet-name>
<url-pattern>/deleteStudentCourse</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>StudentPassedCourseListServlet</servlet-name>
<servlet-class>servlet.StudentPassedCourseListServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>StudentPassedCourseListServlet</servlet-name>
<url-pattern>/listStudentPassedCourse</url-pattern>
</servlet-mapping>
  
<servlet>
<servlet-name>StudentNotPassedCourseListServlet</servlet-name>
<servlet-class>servlet.StudentNotPassedCourseListServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>StudentNotPassedCourseListServlet</servlet-name>
<url-pattern>/listStudentNotPassedCourse</url-pattern>
</servlet-mapping>

<!-- 黄美 定义的映射 -->

<servlet>
<servlet-name>TeacherLogin</servlet-name>
<servlet-class>servlet.TeacherLogin</servlet-class>
</servlet>
-<servlet-mapping>
<servlet-name>TeacherLogin</servlet-name>
<url-pattern>/teacherLogin</url-pattern>
</servlet-mapping>

-<servlet>
<servlet-name>TeacherCourseListServlet</servlet-name>
<servlet-class>servlet.TeacherCourseListServlet</servlet-class>
</servlet>
-<servlet-mapping>
<servlet-name>TeacherCourseListServlet</servlet-name>
<url-pattern>/listTeacherCourse</url-pattern>
</servlet-mapping>

-<servlet>
<servlet-name>ScoreListServlet</servlet-name>
<servlet-class>servlet.ScoreListServlet</servlet-class>
</servlet>
-<servlet-mapping>
<servlet-name>ScoreListServlet</servlet-name>
<url-pattern>/scoreList</url-pattern>
</servlet-mapping>

-<servlet>
<servlet-name>ScoreRegistrationServlet</servlet-name>
<servlet-class>servlet.ScoreRegistrationServlet</servlet-class>
</servlet>
-<servlet-mapping>
<servlet-name>ScoreRegistrationServlet</servlet-name>
<url-pattern>/scoreRegistration</url-pattern>
</servlet-mapping>

<!-- 何明锦 定义的映射 -->

<servlet>
<servlet-name>AdminLogin</servlet-name>
<servlet-class>servlet.AdminLogin</servlet-class>
</servlet>
-<servlet-mapping>
<servlet-name>AdminLogin</servlet-name>
<url-pattern>/adminLogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>StudentOrTeacher</servlet-name>
<servlet-class>servlet.StudentOrTeacher</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>StudentOrTeacher</servlet-name>
<url-pattern>/studentOrTeacher</url-pattern>
</servlet-mapping>

<!-- 何明锦 定义的映射 -->

<servlet>
<servlet-name>informationCRUDServlet</servlet-name>
<servlet-class>servlet.informationCRUDServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>informationCRUDServlet</servlet-name>
<url-pattern>/informationCRUD</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>editStudentNameServlet</servlet-name>
<servlet-class>servlet.editStudentNameServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>editStudentNameServlet</servlet-name>
<url-pattern>/editStudentName</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>editStudentDept_nameServlet</servlet-name>
<servlet-class>servlet.editStudentDept_nameServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>editStudentDept_nameServlet</servlet-name>
<url-pattern>/editStudentDept_name</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>editStudentTot_credServlet</servlet-name>
<servlet-class>servlet.editStudentTot_credServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>editStudentTot_credServlet</servlet-name>
<url-pattern>/editStudentTot_cred</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>updateStudentItemServlet</servlet-name>
<servlet-class>servlet.updateStudentItemServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>updateStudentItemServlet</servlet-name>
<url-pattern>/updateStudentItem</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>StudentListServlet</servlet-name>
<servlet-class>servlet.StudentListServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>StudentListServlet</servlet-name>
<url-pattern>/studentList</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>editInstructorNameServlet</servlet-name>
<servlet-class>servlet.editInstructorNameServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>editInstructorNameServlet</servlet-name>
<url-pattern>/editInstructorName</url-pattern>
</servlet-mapping>
	
<servlet>
<servlet-name>editInstructorDept_nameServlet</servlet-name>
<servlet-class>servlet.editInstructorDept_nameServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>editInstructorDept_nameServlet</servlet-name>
<url-pattern>/editInstructorDept_name</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>editInstructorSalaryServlet</servlet-name>
<servlet-class>servlet.editInstructorSalaryServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>editInstructorSalaryServlet</servlet-name>
<url-pattern>/editInstructorSalary</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>updateInstructorItemServlet</servlet-name>
<servlet-class>servlet.updateInstructorItemServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>updateInstructorItemServlet</servlet-name>
<url-pattern>/updateinstructorItem</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>instructorOprateServlet</servlet-name>
<servlet-class>servlet.instructorOprateServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>instructorOprateServlet</servlet-name>
<url-pattern>/instructorOprate</url-pattern>
</servlet-mapping>

<!-- 何明锦 定义的映射 -->
<servlet>
<servlet-name>addCourseServlet</servlet-name>
<servlet-class>servlet.addCourseServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>addCourseServlet</servlet-name>
<url-pattern>/addCourse</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>CourseListServlet</servlet-name>
<servlet-class>servlet.CourseListServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CourseListServlet</servlet-name>
<url-pattern>/CourseList</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>addSectionServlet</servlet-name>
<servlet-class>servlet.addSectionServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>addSectionServlet</servlet-name>
<url-pattern>/addSection</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>deleteCourseServlet</servlet-name>
<servlet-class>servlet.deleteCourseServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>deleteCourseServlet</servlet-name>
<url-pattern>/deleteCourse</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>sectionVariableServlet</servlet-name>
<servlet-class>servlet.sectionVariableServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>sectionVariableServlet</servlet-name>
<url-pattern>/sectionVariable</url-pattern>
</servlet-mapping>

<!--吴沛颖 定义的映射 -->
<servlet>
<servlet-name>TeacherChange</servlet-name>
<servlet-class>servlet.TeacherChange</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>TeacherChange</servlet-name>
<url-pattern>/teaChange</url-pattern>
</servlet-mapping>
  
<servlet>
<servlet-name>AdministratorChange</servlet-name>
<servlet-class>servlet.AdministratorChange</servlet-class>
</servlet> 
<servlet-mapping>
<servlet-name>AdministratorChange</servlet-name>
<url-pattern>/admChange</url-pattern>
</servlet-mapping>
  
<servlet>
<servlet-name>StudentChange</servlet-name>
<servlet-class>servlet.StudentChange</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>StudentChange</servlet-name>
<url-pattern>/stuChange</url-pattern>
</servlet-mapping>
       
<servlet>
<servlet-name>StudentRegister</servlet-name>
<servlet-class>servlet.StudentRegister</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>StudentRegister</servlet-name>
<url-pattern>/stuRegister</url-pattern>
</servlet-mapping>
 
<servlet>
<servlet-name>TeacherRegister</servlet-name>
<servlet-class>servlet.TeacherRegister</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>TeacherRegister</servlet-name>
<url-pattern>/teaRegister</url-pattern>
</servlet-mapping>
  
<servlet>
<servlet-name>AdministratorRegister</servlet-name>
<servlet-class>servlet.AdministratorRegister</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AdministratorRegister</servlet-name>
<url-pattern>/admRegister</url-pattern>
</servlet-mapping>

<!--梁堉 定义的过滤器 -->
 -<filter>
<filter-name>AuthFilter</filter-name>
<filter-class>filter.AuthFilter</filter-class>
</filter>
-<filter-mapping>
<filter-name>AuthFilter</filter-name>
<url-pattern>/*</url-pattern>
</filter-mapping>
</web-app>
  